In [ ]:
print("Hola mundo !!")
print("Hola de nuevo")

In [ ]:
unNumero = 3
otroNumero = 2
unTexto = 'Esto es un texto'

print(unNumero)
print(unTexto)

In [ ]:
type(unNumero)

In [ ]:
resultado = unNumero + otroNumero
print(resultado)

In [ ]:
# Esto es una excepci贸n
#resultado = unNumero + unTexto
#resultado

In [ ]:
''' Definiendo un booleano '''
unBooleano = True
type(unBooleano)

In [ ]:
comp = 3 + 2j
print(comp)
type(comp)

In [ ]:
unFloat = 2.4
type(unFloat)

In [ ]:
unFloat = "Esto es un texto"
type(unFloat)

In [ ]:
print("Valor de unFloat:", unFloat)

In [ ]:
entrada = input("Escribe algo")
print("Lo que el usuario escribi贸:", entrada)
type(entrada)

In [ ]:
entrada = int( input("Escribe un numero:") )
print("Lo que el usuario escribi贸:", entrada)
type(entrada)

In [ ]:
unaListaNum = [2,66,344,5,6, 7879]
type(unaListaNum)

In [ ]:
cajonDeSastre = ["textos", 1, True]
print(cajonDeSastre)
print(cajonDeSastre[0])

In [ ]:
cajonDeSastre[0] = "numeros"
print(cajonDeSastre)

In [ ]:
unTupla = ("textos", 1, True)
print(unTupla)
print(unTupla[2])

In [ ]:
unTupla[0] = "Numeros"

In [ ]:
unTupla[0:2]

In [ ]:
unConjunto = {"textos", 1, True}
type(unConjunto)

In [ ]:
unDiccionario = {"texto":"Un Texto","numero":34, "booleano": False}
print(unDiccionario)
type(unDiccionario)

In [ ]:
unDiccionario['numero']

In [38]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r/4
rr
c = r//4
resto = r % 4
print(c, resto)

-2 2

In [46]:
m = 2
n = 3

m != n
m <= n

True

In [51]:
t1 = "ax"
t2 = "aa"
t1 > t2

True

In [64]:
l1 = [1,2,3] # > nombre, edad, peso
# .... 40 lineas de c贸digo
l2 = [1,1,2]
l1 < l2

False

In [66]:
not((t1>t2) or (l2>l1))

False

In [70]:
"Data" in "Hola data mundo"

False

In [76]:
l1 = [1,2,3]
"data" not in l1

True

In [84]:
m = [3]
n = [3]
m is n
m = n
print(id(m), id(n))

139680899619200 139680899619200

In [86]:
1 + (3 * 4)

13

In [89]:
x = 4.6
int(x)

4

In [100]:
texto = "Hola mundo"
texto2 = 'Hola mundo'
textomultilinea = '''Esto es
un texto
con saltos de linea'''
textomultilinea

textoconcomillas = 'Un texto con "comillas"'
textoconcomillas = "Un texto con 'comillas'"
textoconcomillas = "Un texto con \"comillas\""
textoconcomillas

'Un texto con "comillas"'

In [104]:
len(textoconcomillas)
l1 = [1,2,3,5]
len(l1)

4

In [109]:
l1 = list("Hola mundo")
s1 = set("Hola mundo")
print(l1, s1)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o'] {'o', 'a', 'l', 'H', 'n', 'd', 'm', ' ', 'u'}

In [111]:
sorted("Hola mundo")

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [113]:
sorted(l1)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'o', 'u']

In [115]:
sorted(s1)

[' ', 'H', 'a', 'd', 'l', 'm', 'n', 'o', 'u']

In [134]:
 str = "Hola mundo! Hola"
str.replace("o","x")
l1 = str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())

['Hola', 'mundo!', 'Hola']

'Hola_mundo!_Hola'

In [ ]:
l1=str.split(" ").count("Hola")

2

In [147]:
t1 = (1,2,3)
s1 = {1,2,3}

l2 = list(s1)
l2[-2]

2

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim, ult)

ind_init = 2
ind_final = 5 # no incluye el indice propiamente dicho
salto = 2

l1[ind_init:ind_final:salto]

1 10

[3, 5, 7, 9]

In [169]:
l1[1:3]=['a','b']
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [171]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4, 4]

In [182]:
l2 = ['x','y','z']
l1.extend(l2)
l1
l3 = l1 + l2

In [179]:
[1,2,3]+['a','b','c']
"Hola" + " " + "mundo"

'Hola mundo'

In [185]:
l1.insert(2,'Hola')
l1

[1,
 'a',
 'Hola',
 'Hola',
 'Hola',
 'b',
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 4,
 4,
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z',
 'x',
 'y',
 'z']

In [192]:
l1 = [1,2,3,4,5,6,7,8]
del(l1[:2])
l1

[3, 4, 5, 6, 7, 8]

In [193]:
l1 = [1,2,3,4,5,6,7,8]
el = l1.pop(2)
print(el, l1)

3 [1, 2, 4, 5, 6, 7, 8]

In [199]:
l1 = [1,2,3]
l2 = ['a','b','c']

try:
    l1 > l2
    print('Correcto')
except:
    print('Error!!!')

print('Continua...')

Error!!!
Continua...

In [208]:
l1  = ['a','b','c','a','z']
max(l1)
l1.index('a',1)
l1.sort(reverse=True)
l1

['z', 'c', 'b', 'a', 'a']

In [215]:
t1 = 1,2,3

In [219]:
s1 = {'a',0,1, 2 ,True, False, 'a'}
s1

{0, 1, 2, 'a'}

In [225]:
set(l1)

s1.update({2,3,5})
s1

{0, 1, 2, 3, 5, 'a'}

In [229]:
s1.discard(22)
s1

{0, 1, 3, 5, 'a'}

In [235]:
s1={'a','b',5}
s2={1,2,5,'c'}
s3 = s1.intersection(s2)
s3
s1.symmetric_difference(s2)

{1, 2, 'a', 'b', 'c'}

In [248]:
dict1 = {'lunes':1,'martes':2, 'miercoels':3}
l1 = list(dict1.keys())
l1
vals = tuple(dict1.values())
vals
items = list(dict1.items())
items

[('lunes', 1), ('martes', 2), ('miercoels', 3)]